*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  header{
    background-color: transparent;
  }
  
  a,button{
    cursor: pointer;
  }
  
  nav{
    position: relative;
    
    top: 100px;
    right: 50px;
    width: 250px;
  }
  
  .navigation{
    position: fixed;
    z-index: 1;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: rgb(98, 50, 10);
    transition: .5s;
  }
  
  .navigation ul li{
    color:black;
    text-align: right;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 1.5em;
    padding: 20px 30px;
   
  }
  
  .hamburger, .bar{
    position: fixed;
  }
  
  .hamburger{
    display: block;
    top: 5%;
    left: 95%;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
  }
  
  .bar{
    top: 3px;
    background:black;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
  }
  
  #bar2{
    top: 11px;
  }
  
  #bar3{
    top: 19px;
  }
  
  .navigation.active{
    right: 0;
  }
  
  .hamburger.open #bar1{
    background-color: #fff;
    transform: rotate(45deg) translate(6px, 5px);
  }
  
  .hamburger.open #bar2{
    background-color: transparent;
  }
  
  .hamburger.open #bar3{
    background-color: #fff;
    transform: rotate(-45deg) translate(6px, -5px);
  }
  .banner {
      background-image: url("https://wallpaperaccess.com/full/2183408.jpg");
      background-size: cover;
      position: relative;
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      height: 100vh;
      animation : change 7s infinite ;
      
    }
    .logo img{
      width:150px;
      height: auto;
      float:left;
      z-index: 1;
      mix-blend-mode: multiply;
    
      
    }
   
    
    .banner::before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
     
    }
    
    
    .banner-text-item {
      position: absolute;
      width: 100%;
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }
    
    .banner-heading {
      flex: 1;
      justify-content: end;
      align-items: center;
      margin: auto;
      padding-top:5%;
  
    }
    
    .banner-heading h1 {
      font-size: 80px;
      display:flex;
      padding-left: 30%;
      align-items:center;
      text-align:center; 
      font-weight: normal;
      color: black;
      font-family: Satisfy;
      animation:heading 2s 1;
    }
    .banner-heading h2 {
      font-size: 50px;
      display:flex;
      justify-content: flex-end;
      align-items:center;
      font-weight: normal;
      color:black;
      font-family: Satisfy;
    
    }
    @keyframes heading{
    
    45%{
      
      margin-bottom: 40px;
    }
    
    }
    @keyframes change {
    
  
      0%{
        background-image: url("https://gmk.center/wp-content/uploads/2023/01/shutterstock_2013310244.jpg ");
      }
      50%{
        background-image: url("https://wallpaperaccess.com/full/2183408.jpg");
      }
      100%{
        background-image: url("https://gmk.center/wp-content/uploads/2023/01/shutterstock_2013310244.jpg ");
      }
  
    }
    .back{
      display:inline-block;
      justify-content: center;
      align-items: center;
      background-color:rgb(18, 18, 65);
      padding:10px 20px;
      color:#fff;
      font-size:19px;
      text-decoration: none;
      border-radius: 25px ;
      margin-top:15px;
      transition:0.3s ease;
  
    }
    .back:hover{
      background-color: #3e8e41;
    }
  /*samples*/
  
  .sample{
    padding:20px 12px 20px;
  }
  
    
  .sample-id {
      text-align: center;
      margin-bottom: 50px;
    }
   
    
    .sample-id h3 {
      font-family:  Barlow Condensed;
      color: rgb(98, 50, 10);
      font-size: 55px;
      font-weight: bolder;
    }
    
    .sample-id h4 {
      font-family:Roboto ;
      font-size: 15px;
      color: #191d34;
      letter-spacing: 1px;
    }
   
  
    .imagepost {
      padding:20px 12px 20px;
        text-align: center;
        margin-bottom: 50px;
      }
    .imagepost h7{
      font-family:  Barlow Condensed;
      color: #0f1d68;
      font-size: 55px;
      font-weight: bolder;
    }
    .imagepost2{
    
      color: #0c0d12;
      
      font-weight: bolder;
  
    }
   .containerclass{
    padding:5px ;
    text-align: center;
    background: gray;
    
    text-decoration-color: white;
  }
  .containerclass h8{
   
    font-family:  Barlow Condensed;
    font-size: 20px;
    color:#0c0d12;
    font-weight: bolder;
    
  
  }
  .submit{
   
    background-color: red;
  }
    
     
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 30px;
      align-items: center;
      justify-items: center;
      text-align: center;
    }
  
    /*footer*/
  footer{
    position: fixed;
    bottom:40px;
  }
  @media(max-height:800px)
  {
    footer{
      position:static;
    }
    header{
      padding-top:40px;
    }
  }
  .footer-distributed{
    background-color:rgb(143, 67, 9) ;
    box-sizing:border-box;
    widows:100%;
    text-align: left;
    font:bold 16px ;
    font-family: 'contentregular-C';
    
    margin-top: 80px;
  
  }
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right{
    display:inline-block;
    vertical-align: top;
  
  }
  .footer-distributed .footer-left{
    width:30%;
  
  }
  .footer-distributed h3{
    color: white;
    font:normal 36px 'contentregular-C' ;
    margin:0;
  }
  .footer-distributed .footer-links{
    color:white;
    margin:20px 0 12px;
    margin-left: 20%;
   
  }
  .footer-distributed .footer-links a{
    
    line-height:1.8;
    text-decoration:none;
    color:inherit;
    width:35%;
    height:38px;
  }
  .footer-distributed .footer-center{
    width:35%;
  
  }
  .footer-distributed .footer-center i{
    background-color:#0c0d12;
    color:#fff;
    font-size:25px;
    width:38px;
    height:38px;
    border-radius:50%;
    text-align: center;
    line-height: 42px;
    margin:10px 15px;
    vertical-align:middle;
  
  }
  .footer-distributed .footer-center p{
   display:inline-block;
   color:#fff;
   vertical-align: middle;
   margin:0;
  
  }
  .footer-distributed .footer-center p span{
    display:block;
    font-weight:normal;
    font-size:14px;
    line-height:2;
  }
  .footer-distributed .footer-center p a{
    color:yellow;
    text-decoration: none;
  
  
  }
  .footer-distributed .footer-right{
    width:30%;
  }
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:#fff;
    font-size:13px;
    font-weight:normal;
    margin:0;
  }
  .footer-distributed .footer-company-about span{
    display:block;
    color:aliceblue;
    font-size:18px;
    font-weight:bold;
  }
  .footer-icons{
    margin-top:inline-block;
    width: 35px;
    height:35px;
    cursor:pointer;
    background-color:#333;
    border-radius:2px;
    font-size:20px;
    color:#fff;
    text-align:center;
    line-height:35px;
    margin-right:3px;
    margin-bottom: 5px;
  }
  .footer-icons a:hover{
    background-color: #3e8e41;
    
  }
  .footer-links a:hover{
    color:#3e8e41;
  
  }
  @media(max-width:880px){
    .footer-distributed .footer-links .footer-distributed .footer-center .footer-distributed .footer-right{
      display:block;
      width:100%;
      margin-bottom:40px;
      text-align:center;
    }
    .footer-distributed .footer-center i{
      margin-left:0;
    }
  }
  
    .bottom-footer{
      background-color: rgb(98, 50, 10);
      padding:40px;
      bottom: 0;
      
    }
  
    .main-container {
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
  }
  
  .inner-bottom-footer {
      flex-direction:column;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
      margin-top: auto;
      margin-right: auto;
      margin-bottom: auto;
      margin-left: auto;
  }
  
  .inner-bottom-footer span {
      display: flex;
      font-size: 14px;
      color: #fff;
      line-height: 1.6;
      text-align: center;
      text-transform: capitalize;
      font-family: 'contentregular-C';
  }
  
  .inner-bottom-footer span a {
      color: #fff;
  }
  
  a {
      text-decoration: none;
      text-decoration-line: none;
      text-decoration-style: initial;
      text-decoration-color: initial;
      color: #333;
      display: inline-block;
      font-family: 'contentregular-P';
  }
   
  
  @media (max-width:769px) {
    nav{
      padding: 15px 20px;
    }
    nav img{
      width:130px;
    }
    
  }
  
  
  